<template>
  <div class="contributor">
    <h1>{{ userDetails.name }}</h1>
    <h2>User details <small>(listed from API JSON response)</small></h2>
    <ul>
      <li v-for="(value, key) in userDetails" :key="key">
        <strong>{{ key | capitalize }}</strong>: {{ value }}
      </li>
    </ul>
    <p v-if="isLoading">
      Loading, please wait...
    </p>
    <h2>User repositories <small>(first 100)</small></h2>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="repo in userRepos" :key="repo.id">
          <td>
            <router-link :to="{ name: 'repository', params: {
              owner: repo.owner.login,
              repo: repo.name }}">
              {{ repo.name }}
            </router-link>
          </td>
          <td><a :href="repo.html_url" target="_blank">{{ repo.html_url }}</a></td>
        </tr>
      </tbody>
    </table>
    <p v-if="isLoading">
      Loading, please wait...
    </p>
  </div>
</template>

<script>

import axios from 'axios'
// import Contributor from '@/components/Contributor.vue'

export default {
  name: 'contributor',
  props: {
    login: String,
    apiParams: Object
  },
  data: function () {
    return {
      isLoading: true,
      userDetails: {},
      userRepos: []
    }
  },
  mounted: function() {
    let self = this
    axios.all([
      axios.get('https://api.github.com/users/'+this.login, {
        params: this.apiParams
      }),
      axios.get('https://api.github.com/users/'+this.login+'/repos', {
        params: this.apiParams
      })
    ])
    .then(axios.spread(function(details, repos) {
      self.userDetails = details.data
      self.userRepos = repos.data
      self.isLoading = false
    }))
    .catch(error => {
      console.log(error)
    })
  },
  filters: {
    capitalize: function(value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  }
}
</script>
