<template>
  <div class="contributors">
    <h1>Contributors <small>(first 100)</small></h1>
    <table class="pure-table">
      <thead>
        <tr>
          <th @click="sort('login')">Username</th>
          <th>Total contributions</th>
          <th @click="sort('followers')">Followers</th>
          <th @click="sort('public_repos')">Public repos</th>
          <th @click="sort('public_gists')">Public Gists</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr v-for="contributor in sortedContributors" :key="contributor.id">
          <td><router-link :to="{ name: 'contributor', params: { login: contributor.login }}">{{ contributor.login }}</router-link></td>
          <td>{{ contributor.contributions }}</td>
          <td>{{ contributor.followers }}</td>
          <td>{{ contributor.public_repos }}</td>
          <td>{{ contributor.public_gists }}</td>
        </tr> -->
      </tbody>
    </table>
    <p v-if="isLoading">
      Loading, please wait...
    </p>
  </div>
</template>

<script>

// import axios from 'axios'

export default {
  name: 'contributors',
  props: ['apiParams'],
  data: function () {
    return {
      isLoading: true,
      contributors: [],
      promises: [],
      currentSort: 'followers',
      currentSortDir: 'desc'
    }
  },
  mounted: function() {
    // axios
    // .get('https://api.github.com/orgs/angular/members', {
    //   params: this.apiParams
    // })
    // .then(response => {
    //   for(let i=0; i < response.data.length; i++) {
    //     this.promises.push(axios.get(response.data[i].url, {
    //       params: this.apiParams
    //     }))
    //   }

    //   axios
    //   .all(this.promises).then( results => {
    //     results.forEach( response => {
    //       this.contributors.push(response.data);
    //     })
    //     this.isLoading = !this.isLoading
    //     this.promises = [];
    //   })
    // })
    // .catch(error => {
    //   console.log(error)
    // })
  },
  methods: {
    sort: function(s) {
      if(s === this.currentSort) {
        this.currentSortDir = (this.currentSortDir === 'asc') ? 'desc' : 'asc';
      }
      this.currentSort = s;
    }
  },
  computed: {
    // sortedContributors: function() {
    //   return this.contributors.sort((a, b) => {
    //     let modifier = 1;
    //     if(this.currentSortDir === 'desc') modifier = -1;
    //     if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
    //     if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
    //     return 0;
    //   })
    // }
  }
}
</script>
