<template>
  <div class="repository">
    <h1>Repository {{ owner }}/{{ repo }} <small>(first 100)</small></h1>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Total contributions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="contributor in contributors" :key="contributor.id">
          <td><router-link :to="{ name: 'contributor', params: { login: contributor.login }}">{{ contributor.login }}</router-link></td>
          <td>{{ contributor.contributions }}</td>
        </tr>
      </tbody>
    </table>
    <p v-if="isLoading">
      Loading, please wait...
    </p>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'repository',
  props: {
    owner: String,
    repo: String,
    apiParams: Object
  },
  data: function () {
    return {
      isLoading: true,
      contributors: []
    }
  },
  mounted: function() {
    axios.get('https://api.github.com/repos/'+this.owner+'/'+this.repo+'/contributors', {
      params: this.apiParams
    })
    .then(response => {
      this.contributors = response.data
      this.isLoading = false
    })
    .catch(error => {
      console.log(error)
    })
  }
}
</script>
