<template>
  <div>
    <router-link to="/">Home</router-link>
    <form class="pure-form pure-form-stacked">
      <fieldset>
        <input type="text" placeholder="Enter Git Organization URL" v-model="orgUrl">
        <input type="text" placeholder="Enter Git token" v-model="token">
        <button @click="checkCredentials" :disabled="isDisabled" class="pure-button pure-button-primary">Load data...</button>
      </fieldset>
    </form>

    <p v-if="!credentialsOk && isLoading">Loading data... please wait.</p>
    <router-view v-if="credentialsOk" />
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      orgUrl: "",
      token: "",
      credentialsOk: false,
      isLoading: false
    };
  },
  computed: {
    isDisabled: function() {
      return this.isLoading === true;
    }
  },
  methods: {
    checkCredentials: function() {
      this.isLoading = true;

      setTimeout(() => {
        this.isLoading = false;
        if (this.orgUrl && this.token) {
          this.credentialsOk = true;
        } else {
          this.credentialsOk = false;
        }
      }, 2000);
    }
  }
}
</script>

<style src="purecss/build/pure-min.css"></style>
<style>
body {
  padding: 1em;
}
</style>
